# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build
dist

# Production
*.log
0

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local
.env.production

# Vercel
.vercel

# Cloudflare
.wrangler
.wrangler.toml

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Temporary files
*.tmp
*.temp
nul

# Project specific
pic/
*.txt
!README.md
